.home_container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

.content {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);

    /* Flexbox w pionie */
    display: flex;
    flex-direction: column; /* Ustawienie w pionie */
    justify-content: flex-start; /* Wyrównanie zawartości od góry */
    align-items: center; /* Wyrównanie zawartości w poziomie */
    height: auto; /* Automatyczna wysokość */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%; /* Formularz zajmuje całą szerokość kontenera */
    max-width: 500px; /* Maksymalna szerokość formularza */
    margin-top: 20px; /* Możesz dodać trochę przestrzeni między napisem a formularzem */
}


input {
    width: 96%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.submit_btn {
    background-color: #3bb19b;
    color: white;
}

.submit_btn:hover {
    background-color: #329f88;
}

.clear_btn {
    background-color: #f0f0f0;
    color: #333;
}

.clear_btn:hover {
    background-color: #dcdcdc;
}

.error {
    color: red;
    font-size: 14px;
}

.success {
    color: green;
    font-size: 14px;
}

.auth_container {
    text-align: center;
    padding: 50px;
}

.login_btn {
    display: block;
    margin: 20px auto; /* Auto na lewo i prawo = środek */
    padding: 10px 20px;
    background-color: #3bb19b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    text-align: center;
}

.login_btn:hover {
    background-color: #329f88;
}

.container {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
    height: 100vh; /* Pełna wysokość ekranu */
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; /* Zaokrąglone rogi */
    overflow: hidden; /* Zapobiega wychodzeniu rogów poza tabelę */
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 10px;
}

.table th {
    background-color: #3bb19b;
    color: white;
}

/* Naprzemienne kolory wierszy */
.table tr:nth-child(even) {
    background-color: #e2dfdf; /* Jasnoszary */
}

.table tr:nth-child(odd) {
    background-color: #ffffff; /* Biały */
}

/* Efekt hover */
.table tr:hover {
    background-color: #e0f2f1; /* Jasny odcień turkusu */
    transition: background-color 0.3s ease;
}


.editBtn, .deleteBtn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
    border-radius: 5px;
}

.editBtn {
    background-color: #3bb19b;
}

.editBtn:hover {
    background-color: #33a792;
}

.deleteBtn {
    background-color: #d9534f;
}

.deleteBtn:hover {
    background-color: #c9302c;
}
